@{
    ViewData["Title"] = "Confirmação apagar o contato";
}



<div class="text-center">


<h4 class="display-4">Realmente deseja apagar o contato (Gabriel Henrique?)</h4>

<a class="btn btn-primary btn-block" role="button">Cancelar exclusão</a>
<a class="btn btn-danger btn-block" role="button">Confirmar exclusão</a>


</div>


